# Ambientes Virtuais
.venv/
venv/
env/
ENV/

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do sistema operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Arquivos de configuração de variáveis de ambiente
.env
